.top {
    border: 1px solid black;
    height: 8vh;
    background-color: black;
    /* padding: 5px; */
    display: flex;
    justify-content: center;
    gap: 7px;

}

.phone,
.email {
    border: 1px solid black;
    padding: 3px;
    color: white;
    display: flex;
    align-items: center;


}

.nav {
    border: 1px solid black;
    height: 10vh;
    display: grid;
    

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* padding: 7px; */
    /* justify-self: center; */
    /* align-items: center; */
    background-color: whitesmoke;

}


.nav-item {
    /* border: 1px solid white; */
    height: 90%;
    /* padding: 7px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 18px;



}

.logo {
    padding-left: 7px;

    height: 90%;
    width: 27%;
    /* border: 1px solid blue; */
    border-radius: 50%;

}

.poster {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.logo-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sliding {
    border: 1px solid black;
    height: 66vh;
    margin-bottom: 7px;
}

.about {
    border: 1px solid black;
    height: 50vh;
    padding: 5%;
    display: flex;
    justify-content: space-around;
    /* gap: 3%; */


}

h3 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box1 {
    /* border: 1px solid blue; */
    height: 90%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.image {
    /* border: 1px solid red; */
    height: 90%;
    width: 90%;
    border-radius: 50%;



}

.about-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;

}

.box2 {
    /* border: 1px solid blue; */
    height: 90%;
    width: 70%;
    padding: 7px;
    display: flex;
    align-items: center;
    background-color: whitesmoke;

}

.content {
    /* border: 1px solid red; */
    height: fit-content;
    padding: 3%;
    text-align: justify;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px black;


}


.services {
    border: 1px solid black;

    padding: 7px;
    /* display: flex; */
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    /* flex-wrap: wrap; */


}

.s {
    border: 1px solid black;
    height: 40vh;
    width: 36vh;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.simg {
    height: 60%;
    width: 90%;

    /* border:1px solid red; */

}

.prod-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 12%;
}

.sname {
    height: 20%;
    width: 90%;
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: bold;
}


/* .card{
    height: 35vh;;
    width: 30vh;
    border: 1px solid red;
    /* background-color: aqua; 
    margin:2px;
    display : flex;
    justify-content:center;
    align-items: center;
    justify-self: center;
    
    
}

.carding{
    border: 1px solid black;
    height:75%;
    width: 75%;
    border-radius: 50%;

} */
@media screen and (max-width:600px) {
    .services {
        grid-template-columns: 1fr 1fr;


    }

}

.branches {
    border: 1px solid black;
    height: fit-content;
    padding: 7px;
    margin-bottom: 7px;

    /* display: grid; */
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: (4,1fr); */
    justify-content: space-around;

    /* flex-direction: column; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* align-items: center; */

}

.b {
    height: 30vh;
    width: 25vh;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-self: center;

}

.bimg {
    /* border: 1px solid yellow; */
    height: 60%;
    width: 90%;
    border-radius: 50%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */



}

.branch-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 50%;

}


/* .city{
    display: flex;
    justify-content: space-around;

}

.cityname{
    display: flex;
    justify-content: space-around;
} */

.name {
    /* border: 1px solid red; */
    width: 20vh;
    height: 7vh;
    /* media */
    /* padding: 7px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: bold;

}

.footer {
    border: 1px solid black;
    height: 45vh;
    /* display: flex; */
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: space-around;
    padding: 7px;

}

.footer-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 50%;

}

.foot1,
.foot2,
.foot3 {
    /* border: 1px solid red; */
    height: 30vh;
    width: 30vw;
    /* padding: 5px; */




}

.foot1 {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

}

.footlogo {
    /* border: 1px solid yellow; */
    height: 20vh;
    width: 20vh;
    border-radius: 50%;

}

.footbox {
    /* border: 1px solid blue; */
    height: 15vh;
    width: 25vw;
    display: flex;
    align-items: center;
    padding: 7px 15px 5px 15px;
    font-size: 21px;



}

.footitem {
    height: 20%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    /* border: 1px solid red; */
    height: 70%;

}

.address {
    /* border: 1px solid red; */
    height: 30%;
    text-align: center;
    font-size: 18px;
    padding: 7px;


}

.sign {
    border: 1px solid black;
    /* height: fit-content; */
    padding: 7px;
    text-align: center;

}

@media screen and (max-width:600px) {
    .about {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }


}

.box1 {
    height: 45%;
    width: 45%;

}

.box2 {
    height: 45%;
    width: 90%;
}

.services {
    grid-template-columns: 1fr 1fr 1fr;
}

.branches {
    grid-template-rows: 1fr;
}

.footer {
    grid-template-columns: 1fr;
}

.footbox {
    width: 90vw;
    height: 12vh;
}